In [1]:
# set up the data set
from datetime import time
import pandas as pd

data = pd.read_excel(r"newInput.xlsx")
df = pd.DataFrame(data)

In [2]:
"""defining functions to converts to seconds and then  back to time object """
def convertToSec(time_obj):
    return (time_obj.hour * 3600 + time_obj.minute * 60 + time_obj.second)

def convertToTime(seconds):
    hour, remainder = divmod(seconds, 3600)
    minute, second = divmod(remainder, 60)
    return time(hour, minute, second)

In [3]:
# can create a additional function to call this in future development 
strToTime = lambda strTime: time(*[int(x) for x in strTime.split(':')])
# DEFINING GLOBAL VARIABLES 
sorted_set = df.sort_values('Departure Time', ascending=True).reset_index(drop=True)
start_set = sorted_set[sorted_set['Departure Place'] == 'PSL'].reset_index(drop=True)

trip = start_set.iloc[0].to_frame().T

return_flag = False
exception_flag = False
i = 0

In [4]:
""" 
Sl No.
Departure Time
Departure Place
Route of Operation
Arrival Place
Arrival Time act
KM
Running Time 
"""
def generateAllRoutes():
    try:    
        global trip
        global return_flag
        global exception_flag
        # return_flag = False
        global i

        last_leg = trip.iloc[len(trip) - 1]
        temp_set = df[(df['Departure Place'] == last_leg['Arrival Place']) & (df['Departure Time'] > last_leg['Arrival Time act'])]
        temp_set = temp_set.sort_values('Departure Time', ascending=True ).reset_index(drop=True)
        new_leg = temp_set.iloc[i].to_frame().T
        trip = pd.concat([trip, new_leg], ignore_index=True)
        if new_leg['Arrival Place'].to_dict()[i] == 'PSL':
            display(trip)
            trip = trip.drop(trip.index[-1])
            return_flag = True
            return "XX"
        generateAllRoutes()
        # found a return means backtracking 
        if return_flag :
            return_flag = False
            i+=1
            generateAllRoutes()
            print("Flag set")

        if exception_flag:
            exception_flag = False
            return_flag = True
            return
            
        # display(type(strToTime(new_leg['Departure Time'].to_dict()[0])))
    except Exception as e:
        print("Got exception = ", e)
        exception_flag = True
        # generateAllRoutes()
        # display(trip)
        return
generateAllRoutes()

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00
4,336,08:10:00,MC,NH,KLKV,10:00:00,40.0,01:50:00
5,695,10:05:00,KLKV,PVR-VZM-BYPASS-TVM-NH-KLKV,PSL,13:35:00,81.5,03:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00
4,336,08:10:00,MC,NH,KLKV,10:00:00,40.0,01:50:00
5,665,10:10:00,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,12:25:00,55.0,02:15:00
6,671,12:35:00,MC,KNMLA-VZM-PVR,KLKV,14:50:00,55.0,02:15:00
7,256,15:00:00,KLKV,NH,TVM,16:40:00,33.7,01:40:00
8,454,17:00:00,TVM,NH,KLKV,18:20:00,33.7,01:20:00
9,100,18:25:00,KLKV,NH,PSL,18:35:00,3.5,00:10:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00
4,336,08:10:00,MC,NH,KLKV,10:00:00,40.0,01:50:00
5,665,10:10:00,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,12:25:00,55.0,02:15:00
6,671,12:35:00,MC,KNMLA-VZM-PVR,KLKV,14:50:00,55.0,02:15:00
7,256,15:00:00,KLKV,NH,TVM,16:40:00,33.7,01:40:00
8,454,17:00:00,TVM,NH,KLKV,18:20:00,33.7,01:20:00
9,101,18:30:00,KLKV,NH,PSL,18:40:00,3.5,00:10:00

Flag set

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00
4,336,08:10:00,MC,NH,KLKV,10:00:00,40.0,01:50:00
5,665,10:10:00,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,12:25:00,55.0,02:15:00
6,671,12:35:00,MC,KNMLA-VZM-PVR,KLKV,14:50:00,55.0,02:15:00
7,256,15:00:00,KLKV,NH,TVM,16:40:00,33.7,01:40:00
8,454,17:00:00,TVM,NH,KLKV,18:20:00,33.7,01:20:00
9,297,18:30:00,KLKV,NH,TVM,19:50:00,33.7,01:20:00
10,723,20:40:00,TVM,NH-KLKV,PSL,22:10:00,37.2,01:30:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00
4,336,08:10:00,MC,NH,KLKV,10:00:00,40.0,01:50:00
5,665,10:10:00,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,12:25:00,55.0,02:15:00
6,671,12:35:00,MC,KNMLA-VZM-PVR,KLKV,14:50:00,55.0,02:15:00
7,256,15:00:00,KLKV,NH,TVM,16:40:00,33.7,01:40:00
8,454,17:00:00,TVM,NH,KLKV,18:20:00,33.7,01:20:00
9,297,18:30:00,KLKV,NH,TVM,19:50:00,33.7,01:20:00
10,492,20:50:00,TVM,NH,KLKV,22:10:00,33.7,01:20:00
11,121,22:50:00,KLKV,NH,PSL,23:00:00,3.5,00:10:00

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00
4,336,08:10:00,MC,NH,KLKV,10:00:00,40.0,01:50:00
5,665,10:10:00,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,12:25:00,55.0,02:15:00
6,671,12:35:00,MC,KNMLA-VZM-PVR,KLKV,14:50:00,55.0,02:15:00
7,256,15:00:00,KLKV,NH,TVM,16:40:00,33.7,01:40:00
8,454,17:00:00,TVM,NH,KLKV,18:20:00,33.7,01:20:00
9,297,18:30:00,KLKV,NH,TVM,19:50:00,33.7,01:20:00
10,492,20:50:00,TVM,NH,KLKV,22:10:00,33.7,01:20:00
11,104,22:55:00,KLKV,NH,PSL,23:00:00,3.5,00:05:00

Flag set
Flag set
Flag set

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00
4,336,08:10:00,MC,NH,KLKV,10:00:00,40.0,01:50:00
5,665,10:10:00,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,12:25:00,55.0,02:15:00
6,671,12:35:00,MC,KNMLA-VZM-PVR,KLKV,14:50:00,55.0,02:15:00
7,256,15:00:00,KLKV,NH,TVM,16:40:00,33.7,01:40:00
8,454,17:00:00,TVM,NH,KLKV,18:20:00,33.7,01:20:00
9,297,18:30:00,KLKV,NH,TVM,19:50:00,33.7,01:20:00
10,492,20:50:00,TVM,NH,KLKV,22:10:00,33.7,01:20:00
11,106,23:10:00,KLKV,NH,PSL,23:15:00,3.5,00:05:00

Flag set

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00
4,336,08:10:00,MC,NH,KLKV,10:00:00,40.0,01:50:00
5,665,10:10:00,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,12:25:00,55.0,02:15:00
6,671,12:35:00,MC,KNMLA-VZM-PVR,KLKV,14:50:00,55.0,02:15:00
7,256,15:00:00,KLKV,NH,TVM,16:40:00,33.7,01:40:00
8,454,17:00:00,TVM,NH,KLKV,18:20:00,33.7,01:20:00
9,297,18:30:00,KLKV,NH,TVM,19:50:00,33.7,01:20:00
10,492,20:50:00,TVM,NH,KLKV,22:10:00,33.7,01:20:00
11,123,23:35:00,KLKV,NH,PSL,23:45:00,3.5,00:10:00

Flag set
Flag set
Got exception =  single positional indexer is out-of-bounds
Flag set
Got exception =  single positional indexer is out-of-bounds
Flag set
Got exception =  single positional indexer is out-of-bounds
Flag set

In [5]:
display(trip)

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00
4,336,08:10:00,MC,NH,KLKV,10:00:00,40.0,01:50:00
5,665,10:10:00,KLKV,PVR-VZM-BYPASS-TVM-KANMLA,MC,12:25:00,55.0,02:15:00
6,671,12:35:00,MC,KNMLA-VZM-PVR,KLKV,14:50:00,55.0,02:15:00
7,256,15:00:00,KLKV,NH,TVM,16:40:00,33.7,01:40:00
8,454,17:00:00,TVM,NH,KLKV,18:20:00,33.7,01:20:00
9,297,18:30:00,KLKV,NH,TVM,19:50:00,33.7,01:20:00
10,492,20:50:00,TVM,NH,KLKV,22:10:00,33.7,01:20:00